/* position relative */
/* position fixed */
/* position absolute */

.box1 {
    margin-top: 100px;
    border: 1px solid red;
    /*padding: 50px 10px 30px 100px;*/
    border-radius: 5px;
    width: 100px;
    height: 100px;
    padding-top: 10px;
    box-sizing: border-box;
    position: relative;
    top: 20px;
}
/* Padding: top right bottom left; */

.box2 {
    border: 1px solid blue;
    position: absolute;
    top: 48px;
    left: 200px;
}